.account {
    display: flex;
    max-width: 600px;
    width: 100%;
    margin: 2rem;
}

@media screen and (max-width: 580px) {
    .buttons {
        flex-direction: column;
    }
}

.nav-link {
  cursor: pointer;
}

.icono-personalizado {
    color: #150d75; /* El verde oscuro que buscas */
    font-size: 5rem; /* También puedes cambiar el tamaño aquí */

}