html{
 margin: 12px 16px;

}

body {
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.saldo-label {
  display: flex; 
  gap: 60px; 
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;;
  color: black;
}

.saldo-actual {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #09f;
  text-align: left;
}